html,
body {
    font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

/*
 * Navbar
 */
 .navbar {
     color: #bbbbbb;
     padding: 0;
     margin-bottom: 18px;
     background-color: #2c2c2c;
 }

 .navbar-dark {
     .dropdown-toggle-split {
         &::after {
             color: #ffffff;
         }
     }
 }

 .navbar-brand {
     padding: 0;
 }

 .navfixed {
     margin-top: 57px;
 }

 .dropdown-header {
    font-weight: bold;
    text-transform: uppercase;
}

#logo {
    margin-top: 1px;
    margin-right: 5px;
    width: 88px;
    height: 36px;
    cursor: pointer;
    opacity: 1;
}

#PlayBlock {
    width: 70px;
    height: 38px;
    display: block;
    position: relative;
    z-index: 2;
}

#PlayButton,
#PauseButton,
#PlayPauseBg {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 3;
}

.PlayBlockInner {
    width: 38px;
    height: 38px;
    margin-left: 0;
    margin-top: 0;
    cursor: pointer;
    top: 6px;
    left: 6px;
    position: absolute;
    border-radius: 18px;

    &:hover,
    &:focus {
        .img-download-btn {
            background-position: -16px -112px;
            opacity: 0.9;
        }
    }
}

#PlayAnimation {
    position: absolute;
    z-index: 4;
    left: -5px;
    top: -5px;
    background-size: 70px 70px;
    background-position: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
    pointer-events: none;
    animation: play-rotate 1s linear infinite;

    &.play {
        background-image: url("../img/download-anim-green-2x.png")
    }
}

#PlayCaretBlock {
    left: 37px;
    top: 1px;
    position: absolute;
}

#PlayCaretButton {
    border: 0;
    background: 0;
    width: 24px;
    height: 22px;
    padding: 3px;
    line-height: 10px;
    vertical-align: top;
    cursor: pointer;

    &::after {
        opacity: 0.75;
        color: #ffffff;
        margin-top: 3px;
        margin-left: 9px;
    }

    &:hover,
    &:focus {
        &::after {
            opacity: 1;
        }
    }
}

#NavLinks {
    .nav-tabs {
        border-bottom: 0;

        .nav-link {
            padding: 9px 10px 11px;
            color: inherit;
            border: 0;

            &:hover {
                color: #ffffff;
            }

            &.active {
                color: #000000;
            }
        }
    }
}

.navbar-search {
    margin-right: 10px;

    .search-query {
        padding: 3px 22px 3px 0.75rem;

        &:focus + .search-clear {
            color: #000000;
        }
    }
}

.search-clear {
    position: absolute;
    top: 7.8px;
    right: 9px;
    cursor: pointer;
    font-size: 16px;
    z-index: 3;
    transition: color .15s ease-in-out;
}

#PlayMenu,
#RefreshMenu {
    min-width: 190px;

    .dropdown-item {
        &::before {
            display: inline-block;
            content: '';
            width: 18px;
            background-position: -80px -16px;
            height: 18px;
            margin-right: 2px;
            vertical-align: middle;
        }

        &.is-checked {
            &::before {
                background-image: url("../img/icons.png");
            }
        }
    }
}

#RefreshMenu {
    .digit {
        width: 20px;
        text-align: right;
        display: inline-block;
        margin-right: 5px;
    }
}

#InfoBlock {
    i {
        margin-right: 1px;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            color: #ffffff;
        }
    }
}

#ErrorAlert {
    margin-top: 20px;
    margin-bottom: 25px;
}

.btn-toolbar .btn-group {
    margin-right: 4px;
}

/*
 * Icons
 */

 [class^="icon-"],
[class*=" icon-"],
[class^="img-"],
[class*="img-"] {
    background-image: url("../img/icons.png");
}

[class^="icon-"],
[class*="icon-"] {
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    line-height: 16px;
}

 .img-logo {
    background-position: -8px -139px;
    width: 88px;
    height: 38px;
    display: inline-block;
}

.img-download-bg {
    background-position: -240px -80px;
    width: 50px;
    height: 50px;
}

.img-download-btn {
    background-position: -16px -80px;
    width: 21px;
    height: 21px;
    margin-left: 9px;
    margin-top: 8px;
}

.img-download-orange {
    background-position: -176px -80px;
    width: 50px;
    height: 50px;
}

.img-download-green {
    background-position: -112px -80px;
    width: 50px;
    height: 50px;
}

.icon-ok {
    background-position: -80px -16px;
}

.icon-plane {
    background-position: -176px -48px;
}

.icon-time {
    background-position: -112px -16px;
}

.icon-refresh {
    background-position: -16px -48px;
}

.icon-downloads-white {
    background-position: -368px -48px;
}

.icon-history-white {
    background-position: -400px -48px;
}

/*
 * Animations
 */
@keyframes play-rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}